---
import BlogLayout from '@/layouts/BlogLayout.astro';
import PostPreviewDisplay from '@/components/PostPreviewDisplay.astro';
import { getAllPostPreviews } from '@/lib/posts';

const posts = await getAllPostPreviews();
---

<BlogLayout title='Blog | Marta Makes Things'>
    <div class='border-b border-slate-200 pb-4 mb-2 dark:border-slate-700'>
        <h1>Blog</h1>
        <p class='mt-1 text-slate-500 dark:text-slate-400'>Thoughts on software, AI, and more</p>
    </div>

    <section>
        <div class='flex flex-col gap-6 py-6'>
            {posts.map((post) => <PostPreviewDisplay post={post} />)}
        </div>
    </section>
</BlogLayout>
