.bulletin {
    background-image: url('https://res.cloudinary.com/dwrurydlt/image/upload/v1731089742/Travel/background-72250_1920_mshskw.jpg');
    background-repeat: repeat;
    background-size: cover;
}
