---
import FooterSocial from './FooterSocial';
---

<footer
    class='bg-gradient-to-r from-blue-300 to-sky-100 dark:from-sky-950 dark:to-dark'
>
    <main class='layout flex flex-col items-center py-6'>
        <FooterSocial client:load />
    </main>
</footer>
