---
import { allCategories } from '@/types/Post';

interface Props {
    category: string;
    count: number;
}

const { category, count } = Astro.props;
---

<a
    href={`/blog/categories/${category}`}
    class='flex justify-between rounded-md hover:bg-indigo-200 dark:hover:bg-indigo-900/50'
>
    <span class='px-1.5'>{allCategories[category]}</span>
    <span
        class='flex min-w-[27px] justify-center rounded-md bg-indigo-600/20 px-1 text-center font-semibold text-indigo-900 dark:text-indigo-100'
    >
        {count}
    </span>
</a>
