---
import BlogLayout from '@/layouts/BlogLayout.astro';
import PostPreviewDisplay from '@/components/PostPreviewDisplay.astro';
import { getAllPostPreviews, listTags } from '@/lib/posts';
import { allTags } from '@/types/Post';

export async function getStaticPaths() {
    const allPosts = await getAllPostPreviews();
    const tags = listTags(allPosts);

    return tags.map((tag) => ({
        params: { tag },
        props: {
            posts: allPosts.filter((p) => p.data.tags?.includes(tag)),
        },
    }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const breadcrumbs = {
    past: [
        { path: '/blog', label: 'Blog' },
        { path: '/blog/tags', label: 'Tags' },
    ],
    current: allTags[tag!],
};
---

<BlogLayout
    title={`Tag: ${allTags[tag!]} | Marta Makes Things`}
    breadcrumbs={breadcrumbs}
>
    <h1>Tag: {allTags[tag!]}</h1>

    <section>
        <div class='flex flex-col gap-6 py-6'>
            {posts.map((post) => <PostPreviewDisplay post={post} />)}
        </div>
    </section>
</BlogLayout>
